ad.Rd
adaptDesign.Rd
caltime.Rd
errorSpent.Rd
exitprob.Rd
fadjpbon.Rd
fadjpdun.Rd
fadjpsim.Rd
findInterval2.Rd
fmodmix.Rd
fseqbon.Rd
fstdmix.Rd
fstp2seq.Rd
fwgtmat.Rd
getBound.Rd
getDesign.Rd
getDurationFromNevents.Rd
getNeventsFromHazardRatio.Rd
hd.Rd
kmest.Rd
kmest1.Rd
lrpower.Rd
lrsamplesize.Rd
lrsim.Rd
lrsim2e.Rd
lrsim2e3a.Rd
lrsim3a.Rd
lrstat-package.Rd
lrstat.Rd
lrstat1.Rd
natrisk.Rd
nevent.Rd
nevent2.Rd
param_gamma.Rd
param_gamma1.Rd
param_gamma1_stratified.Rd
param_gamma2.Rd
param_gamma2_stratified.Rd
param_informationRates.Rd
patrisk.Rd
pd.Rd
pevent.Rd
print.lrpower.Rd
print.lrsim.Rd
qtpwexp.Rd
repeatedPValue.Rd
updateGraph.Rd
